{% extends "base.html" %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="color: #ff0000; font-size: 5rem;">404</h1>
        <h2 style="color: #ff0000;">Halaman Tidak Ditemukan</h2>
        <p>Maaf, halaman yang Anda cari tidak ada. Mungkin URL yang Anda masukkan salah atau halaman tersebut telah dihapus.</p>
        <p>Silakan kembali ke <a href="{{ url_for('index') }}" style="color: #ff0000;font-size: 1.5rem;">halaman utama</a>.</p>
    </div>
{% endblock %}